.card-styling {
  width: 18rem;
  background-color: antiquewhite;
  box-shadow: 5px 5px 5px;
  margin: 10px;
  height: 400x;
}
.card-img {
  width: 18rem;
  height: 150px;
}

.navBar {
  color: aliceblue;
  background-color: black;
  height: 50px;
}
